<!DOCTYPE html>
<html>
	<body>
		<div class="html-chopp" th:fragment="html-chopp">    
                        <a class="html-chopp-base"></a>
                        <a class="html-chopp-handler"></a>
                        <ul class="step-list">
                                <li class="step" id="isle-step" style="visibility: hidden;"></li>
                                <li class="step" id="region-step" style="visibility: hidden;"></li>
                                <li class="step" id="location-step" style="visibility: hidden;"></li>
                                <li class="step" id="brand-step" style="visibility: hidden;"></li>
                        </ul>
                        <a class="html-chopp-glass"></a>
                </div>

	</body>
</html>
